{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-contact">
        {{ form_start(form) }}
            <div class="formEmail">
                <p class="titleWidget">Email</p>
                {{ form_widget(form.email) }}
            </div>
            <div class="formName">
                <p class="titleWidget">Name</p>
                {{ form_widget(form.name) }}
            </div>
            <div class="formMesssage">
                <p class="titleWidget">Message</p>
                {{ form_widget(form.message) }}
            </div>
            <div class="flex">
                <button class="btn-contact">{{ button_label|default('Envoyer') }}</button>
            </div>
        {{ form_end(form) }}  
    </div>
{% endblock %}
