<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		{% block title %}{% endblock %}

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="{{ asset('assets/css/home.css ') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/header-footer.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/elements.css ') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/checkout.css ') }}">
  		<script src="https://js.stripe.com/v3/"></script>
		<script src="{{ asset('assets/js/status.js') }}"></script>
		<script src="{{ asset('assets/js/checkout.js') }}"></script>



		{% block stylesheets %}{% endblock %}

		<div class="header">
			<div class="titleHeader">
				<a href="/accueil">Dog's Adopt</a>
			</div>
		</div>
		<nav>
			<div class="menu-collapsed hidden">
				<div class="bar"></div>
				<nav>
					<ul class="Collapse-Menu hidden">
							<a href="/accueil">Accueil</a>
							<a href="/actualite">Actualite</a>
						{% if not app.user %}
							<a href="/register">Adhesion</a>
						{% endif %}
							<a href="/chien">Chien</a>
							<a href="/aide">Aide</a>
							<a href="/maltraitance">Maltraitance</a>
							<a href="/chien/adoptez">Mes chiens</a>
							<a href="/contact">Contact</a>
						{% if app.user %}
							<a href="/logout">Deconnexion</a>
						{% endif %}
					</ul>
				</nav>
			</div>
			<nav id="Ysais">
				<a href="/accueil">Accueil</a>
				<a href="/actualite">Actualite</a>
				{% if not app.user %}
					<a href="/register">Adhesion</a>
				{% endif %}
				<a href="/chien">Chien</a>
				<a href="/aide">Aide</a>
				<a href="/maltraitance">Maltraitance</a>
				<a href="/chien/adoptez">Mes chien</a>
				<a href="/contact">Contact</a>
				{% if app.user %}
					<a href="/logout">Deconnexion</a>
				{% endif %}
			</nav>
		</nav>

		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
	{% block footer %}
		<footer>
				<div class="containerFooter">
					<div>
						<p class="titleFooter">NUMERO DE TELEPHONE</p>
						<p class="titleItems">06.04.67.89.45</p>
					</div>
					<div>
						<p class="titleFooter">ADRESSE</p>
						<p class="titleItems">06.04.67.89.45</p>
					</div>
					<div>
						<p class="titleFooter">E-MAIL</p>
						<p class="titleItems">06.04.67.89.45</p>
					</div>
				</div>
			<p class="titlecopyright">&copy; Copyright 2022, Honzz Corporation</p>
		</footer>
	{% endblock %}
</html>

{% block javascripts %}
	<script src="{{ asset('assets/js/main.js') }}"></script>
	<script src="{{ asset('assets/js/filter.js') }}"></script>
{% endblock %}

