{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="colDog">
  <div class="bodyCard">
	{% for dog in dogs %}

		{% if ( dog.adopted == 0 ) %}
			<div class="container">
				<div class="card">
					<div>
						<img src="{{dog.image}}"class="card_image" width="600">
					</div>
					<div class="card_body">
						<h4>{{dog.name}}</h4>
						<h4>{{dog.breed}}</h4>
						<p>{{dog.description}}</p>
					</div>
					<div class="card_footer">
						<div class="user"></div>
					</div>
					{% if not app.user %}
					{% endif %}

					{% if app.user %}
						<a class="button-adopt" id="ButtonAdopt" data-id='{{dog.id}}' type="button" href="{{path('app_dog_adopt', {id:dog.id})}}">adoptez</a>    
					{% endif %}
				</div>
			</div>
		{% endif %}

	{% endfor %}
	</div> 
</div>
{% endblock %}

